$primary: #eb00ff;
$black: #333;
$font-sm: 14px;
$font: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-xxl: 24px;
$nav-height: 6rem;

@function space($val: 1) {
  $result: 0.25rem;
  $result: $result * $val;
  @return $result;
}
