@import './base/reset';
@import './abstracts/variables';
@import './abstracts/mixins';
@import './layout/nav';
@import './components/button';
.container {
  width: 75%;
  margin: 0 auto;
  padding: 0 space(2);
}

.hero-section {
  background-color: #f4f4f47e;
  min-height: 400px;
  .hero {
    padding-top: $nav-height * 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include sm {
      flex-direction: column;
    }
    .hero_text-sect {
      @include sm {
        width: 100%;
        .btn {
          display: none;
        }
      }
      width: 40%;
      h1 {
        font-size: $font-xxl * 2;
        color: lighten($black, 10%);
        @include sm {
          font-size: $font-xxl * 1.2;
        }
      }
      p {
        font-size: $font-xl;
        text-transform: capitalize;
        padding: space(2) 0;
        color: lighten($color: $black, $amount: 10%);
      }
    }

    .hero_img-sect {
      @include sm {
        width: 100%;
      }
      width: 60%;
      img {
        width: 100%;
      }
    }
  }
}

.about-section {
  margin: 3rem 0;
  padding: 3rem 0;
  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include sm {
      flex-direction: column;
    }
    .about-me {
      @include sm {
        width: 100%;
      }
      width: 50%;
      background-image: url('/images/about_didi_bg.png');
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 290px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      flex-direction: column;
      p {
        font-size: $font-xxl * 2;
        text-transform: capitalize;
        font-weight: bold;
        color: lighten($black, 10%);
      }

      .bar {
        padding: space();
        background-color: $primary;
        display: block;
        width: 100px;
      }
    }
    .about-details {
      @include sm {
        width: 100%;
      }
      width: 50%;
      p,
      span {
        color: lighten($black, 40%);
        line-height: space(7);
        text-align: justify;
        margin-bottom: space(4);
      }
    }
  }
}

.services-section {
  margin: 6rem 0;
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-size: $font-xxl * 2;
      text-transform: capitalize;
      font-weight: bold;
      color: lighten($black, 10%);
    }

    .bar {
      padding: space();
      background-color: $primary;
      display: block;
      width: 100px;
    }
  }

  .services-container {
    @include sm {
      width: 100%;
    }
    width: 80%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
    .service {
      // border: 1px solid grey;
      padding: space(10);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #d3d3d3c0;
      transition: all 400ms;
      cursor: pointer;
      text-align: center;
      &:hover {
        box-shadow: 2px 10px 20px #d3d3d3de;
        background-color: $primary;
        p {
          color: white;
          i {
            color: white;
          }
        }
      }
      p {
        font-size: $font-xxl;
        text-transform: capitalize;
        color: lighten($black, 20%);
        font-weight: bold;
        i {
          font-size: $font-xxl * 2;
          color: $primary;
          padding: 2rem 0;
        }
      }
    }
  }
}

.contact-section {
  margin: 6rem 0;
  div.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-size: $font-xxl * 2;
      text-transform: capitalize;
      font-weight: bold;
      color: lighten($black, 10%);
    }

    .bar {
      padding: space();
      background-color: $primary;
      display: block;
      width: 100px;
    }
  }

  .contact-container {
    display: flex;
    margin-top: 3rem;
    @include sm {
      flex-direction: column;
    }

    .contact-info {
      @include sm {
        width: 100%;
      }
      width: 40%;
      .title {
        font-size: $font-xl;
        text-transform: capitalize;
        padding: 2rem 0;
      }
      .info {
        p {
          padding-bottom: 2rem;
          color: lighten($black, 50%);
          i {
            margin-right: 1rem;
          }
        }
      }
    }
    .contact-form {
      @include sm {
        width: 100%;
      }
      width: 60%;
      form {
        .two-column {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
          gap: 3rem;
          @include sm {
            display: block;
          }
        }
        .form-group {
          margin-bottom: space(6);
          label {
            margin-bottom: space(2);
            display: block;
            color: lighten($black, 20%);
            text-transform: capitalize;
          }
          input,
          textarea {
            display: flex;
            width: 100%;
            padding: space(3);
            outline: 0;
            border: none;
            height: 60px;
            box-shadow: 0px 3px 5px #d3d3d3de;
            transition: all 400ms;
            &:focus {
              box-shadow: 2px 10px 20px #d3d3d3de;
            }
            &::placeholder {
              color: lighten($black, 20%);
            }
          }
          textarea {
            min-height: 200px;
          }
        }
      }
    }
  }
}

footer {
  margin-top: 3rem;
  padding: space(10);
  text-align: center;
  color: lighten($black, 20%);
  background-color: #f4f4f47e;
}
